html,
body {
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}

rect {
  /* fill: tomato; */
  /* opacity: 10%; */
  /* visibility: hidden; */
  stroke: white;
}

.name {
  display: table-caption;
  /* fill: white; */
  font-size: 10px;
}

#legend {
  background-color: aliceblue;
  font-size: small;
}
